.header {
    height: "20px";
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.nav-item {

    display: flex;
    margin: 0 5px;
    list-style: none;
}

.nav-item>li {
    margin: 0 5px;

}

.logo {
    margin-left: 20px;
    width: 100px;
    height: 50px;
}

.res-card {
    width: 250px;
    height: 250px;
    padding: 5px;
    margin: 2px;
    transition: box-shadow 0.3s ease;
    background-color: bisque;
    position: relative;
}

.res-card:hover {
    border: 0.1px solid grey;
    z-index: 2;
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 150px;
}

.body {
    margin-top: 5px;
}

.search {
    margin-bottom: 5px;
}

.res-name {
    font-weight: 600;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.skelton-container {
    display: flex;
    flex-wrap: wrap;
}

.ratingIcon{
    width:22px

}
.skelton-Card {
    background-color: #F0F0F0;
    width: 250px;
    height: 250px;
    margin: 5px;
}

.res-cuisines {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}